@import "hextab-shared";

article {
	margin: 150px 0px;
}

button {
	margin-bottom: 17px;
	margin-left: 27px;
}

footer {
	opacity: 0.6;
}

.row {
	margin: 20px 0px;
}

.footer-big {
	font-size: 16px;
}

.footer-sub {
	font-size: 12px;
}

p.tool-tip {
	margin: 4px 14px;
	opacity: 0.6;
}
